@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
    font-family: 'Formula1 Display';
    src: url('/src/assets/fonts/Formula1-Display-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/Formula1-Display-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Formula1 Display Wide';
    src: url('/src/assets/fonts/Formula1-Display-Wide.woff2') format('woff2'),
        url('/src/assets/fonts/Formula1-Display-Wide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*@font-face {
    font-family: 'Formula1 Display';
    src: url('/src/assets/fonts/Formula1-Display-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/Formula1-Display-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*/

