---
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import Header1 from "../components/Header1.astro"
---

<Layout title="About">
    <Header1 />
    <div class="container mt-10">
        <div class="flex justify-center align-middle">
            <article class="prose text-amber-50">
            <h1 class="text-amber-50">Sobre Nosotros de Extremebike</h1>
            <p class="prose-2xl text-amber-50"> 
                 Qui茅nes Somos
                En extremeBike, somos apasionados por el mundo de las bicicletas. Nacimos con la idea de ofrecer un servicio de reparaci贸n, r谩pido y profesional para que tu bici est茅 siempre lista para rodar contigo, ya sea en la ciudad o en la monta帽a.
                25 a帽os de experiencia, nuestro equipo de mec谩nicos especializados se encarga de diagnosticar y reparar todo tipo de bicicletas: urbanas, de ruta y MTB. Nos esforzamos por ofrecer soluciones personalizadas, utilizando repuestos de calidad y las mejores herramientas del mercado.
                Creemos en el poder del ciclismo como estilo de vida sostenible, saludable y divertido. Por eso, trabajamos cada d铆a para mantener tu bicicleta en perfecto estado y promover una cultura ciclista responsable.
            </p>
            

            
                <h2 class="text-2xl text-center prose lg:prose-2xl text-amber-50">Nuestra misi贸n</h2>
                <p class="text-2xl text-center prose lg:prose-2xl text-amber-50">
                Brindar un servicio de mantenimiento y reparaci贸n de bicicletas de confianza, con atenci贸n cercana y profesional, contribuyendo al bienestar de nuestros clientes y del planeta.
                </p>

                <h2 class="text-amber-50">Nuestra visi贸n</h2>
                <p class="text-center prose lg:prose-2xl text-amber-50">
                Ser el taller de referencia para ciclistas de todas las edades y niveles, reconocido por nuestra calidad, compromiso y amor por las dos ruedas.
                </p>
                <h2 class="text-amber-50">Nuestros valores</h2>
                <ul class="prose-2xl text-amber-50">
                    <li>Pasi贸n por el ciclismo</li>
                    <li>Calidad en cada reparaci贸n</li>
                    <li>Respeto por el medio ambiente</li>
                    <li>Atenci贸n personalizada</li>
                </ul>


                <h2 class="text-amber-50 flex justify-center">MAPA</h2>
                <div class="flex justify-center">
                    <iframe 
                        class="xl:w-[500px] xl:h-[500px] lg:w-[400px] lg:h-[400px] md:w-[300px] md:h-[300px] sm:w-[250px] sm:h-[250px] mt-6 mb-6" 
                        src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d846.3761476929776!2d-71.5729313!3d-33.1093702!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x9689e12426925673%3A0x8ae65fa77cb89c17!2sExtreme%20bike%20-%20Segunda%2C%20Valpara%C3%ADso!3m2!1d-33.1093706!2d-71.57293059999999!5e1!3m2!1ses!2scl!4v1762476626013!5m2!1ses!2scl" 
                        style="border:0;" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </article>

        
        
        </div>
    </div>
<Footer />
</Layout>