---
import Layout from '../layouts/Layout.astro';
import Header1 from '../components/Header1.astro';
import Footer from '../components/Footer.astro';
import Slider1 from '../components/Slider1.astro';
import Galeria1 from '../components/Galeria1.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header1/>
	<main class="container">


  <div class="flex justify-center items-center mt-4">
    <p class="text-center prose lg:prose-2xl text-amber-50 mt-10">¡Bienvenidos a Extreme Bike, tu destino para la reparación y venta de bicicletas! En Extreme Bike, nos apasiona el mundo de las bicicletas y estamos comprometidos a ofrecerte el mejor servicio posible. Ya sea que necesites una reparación rápida, mantenimiento regular o estés buscando una nueva bicicleta. Con años de experiencia en la industria, garantizamos que tu bicicleta estará en las mejores manos. ¡Ven y descubre por qué somos la elección número uno para los amantes de las bicicletas!
    </p>
  </div>
  <Slider1/>
		
  <h1 class=" my-20 text-center text-3xl">Nuestros servicios!</h1>

  <div class="flex justify-center items-center m-4">
    <p class="text-center prose lg:prose-2xl text-amber-50">
      En Extreme Bike, ofrecemos una amplia gama de servicios para satisfacer todas tus necesidades ciclistas. Nuestro equipo de expertos está listo para ayudarte con reparaciones rápidas y eficientes, mantenimiento regular para mantener tu bicicleta en óptimas condiciones, y asesoramiento personalizado para elegir la bicicleta perfecta para ti. Ya sea que necesites una reparación urgente o estés buscando mejorar tu experiencia de ciclismo, estamos aquí para brindarte un servicio excepcional. ¡Confía en nosotros para cuidar de tu bicicleta y hacer que cada paseo sea una experiencia increíble!
    </p>
  </div>
  <Galeria1/>



<div class="flex justify-center">
    <button class=" text-amber-50 m-10 p-10 bg-amber-600 rounded-2xl text-2xl hover:text-3xl hover:bg-amber-900 transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 my-10">
      <a href="https://www.google.com/maps/dir/Extreme+bike/-33.109364,-71.572868/@-33.1052504,-71.584264,15z/data=!4m8!4m7!1m5!1m1!1s0x9689e12426925673:0x8ae65fa77cb89c17!2m2!1d-71.5729306!2d-33.1093706!1m0?entry=ttu&g_ep=EgoyMDI2MDEwNy4wIKXMDSoASAFQAw%3D%3D" target="_blank">Encuentranos</a>
    </button>
</div>

	</main>
  <Footer/>
</Layout>
