---
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import Header1 from "../components/Header1.astro"
import GaleriaCascos from "../components/GaleriaCascos.astro"
import Seguridad from "../components/Seguridad.astro"

---

<Layout title="Productos">
    <Header1 />
        <div class="flex justify-center align-middle">
            <article class="prose lg:prose-xl text-amber-50">
            <h1 class="text-amber-200">Productos</h1>

            <h2 class="text-white">Cascos</h2>
            <GaleriaCascos/>

            <h2 class="text-white">Productos de seguridad</h2>
            <Seguridad/>

            

            </article>
        </div>
<Footer />
</Layout>