---
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import Header1 from "../components/Header1.astro"
---

<Layout title="Servicios">
    <Header1 />
    <article class="prose lg:prose-xl text-amber-50">
    <h1 class="text-amber-200">Servicio de Extremebike</h1>

    <h2 class="text-white">Servicio de Mantencion y reperacion de bicicletas</h2>
    <h2 class="text-white">Servicio de Retiro</h2>
    <h2 class="text-white">Asesorias</h2>




    <p>
    For years parents have espoused the health benefits of eating garlic bread with cheese to their
    children, with the food earning such an iconic status in our culture that kids will often dress
    up as warm, cheesy loaf for Halloween.
    </p>
    <p>
    But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
    springing up around the country.
    </p>

</article>
<Footer />
</Layout>