---
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import Header1 from "../components/Header1.astro"
---

<Layout title="Servicios">
    <Header1 />
    <div class="flex justify-center align-middle p-6">
        <article class="prose lg:prose-xl text-amber-50">
            <h1 class="text-amber-50">Servicio de Extremebike</h1>

            <p class="prose lg:prose-xl text-amber-50">
                En Extreme Bike, ofrecemos una amplia gama de servicios para satisfacer todas tus necesidades ciclistas. Nuestro equipo de expertos está listo para ayudarte con reparaciones rápidas y eficientes, mantenimiento regular para mantener tu bicicleta en óptimas condiciones, y asesoramiento personalizado para elegir la bicicleta perfecta para ti. Ya sea que necesites una reparación urgente o estés buscando mejorar tu experiencia de ciclismo, estamos aquí para brindarte un servicio excepcional. ¡Confía en nosotros para cuidar de tu bicicleta y hacer que cada paseo sea una experiencia increíble!
            </p>
                
            <p class="prose lg:prose-xl text-amber-50">
                En Extreme Bike, nos enorgullece ofrecer un servicio de alta calidad para nuestros clientes. Nuestro equipo de técnicos altamente capacitados está dedicado a proporcionar reparaciones rápidas y eficientes para que puedas volver a disfrutar de tu bicicleta lo antes posible. Ya sea que necesites una reparación menor o un mantenimiento completo, estamos aquí para ayudarte. Además, ofrecemos asesoramiento personalizado para ayudarte a elegir la bicicleta perfecta que se adapte a tus necesidades y estilo de vida. En Extreme Bike, nos comprometemos a brindarte un servicio excepcional y a cuidar de tu bicicleta como si fuera nuestra propia.
            </p>
            <h2 class="text-amber-50">Asesoramiento personalizado</h2>
                <p class="prose lg:prose-xl text-amber-50">
                    En Extreme Bike, entendemos que cada ciclista es único y tiene necesidades diferentes. Es por eso que ofrecemos asesoramiento personalizado para ayudarte a elegir la bicicleta perfecta para ti. Nuestro equipo de expertos está aquí para escucharte, entender tus preferencias y recomendarte la bicicleta que mejor se adapte a tu estilo de vida y necesidades de ciclismo. Ya sea que estés buscando una bicicleta de montaña, una bicicleta de carretera o una bicicleta urbana, estamos aquí para ayudarte a encontrar la opción ideal. En Extreme Bike, nos comprometemos a brindarte un servicio excepcional y a asegurarnos de que encuentres la bicicleta perfecta para ti.
                </p>
            </h2>



        </article>
    </div>    
<Footer />
</Layout>