---
import { Icon } from 'astro-icon/components';
const actualDate = new Date();
const year = actualDate.getFullYear();
---
<footer class=" mt-auto bg-[#ed3f02] h-full w-full p-20">
    <div class="flex justify-between p-5 max-sm:flex-col">
        <div id="left-footer" class="flex flex-col">
            <a href="/about" class="p-3">Preguntas Frecuentes</a>
            <a href="/about" class="p-3">Formas de pago</a>
            <a href="/about" class="p-3">Envios</a>
            <a href="/about" class="p-3">Devoluciones y reembolsos</a>
        </div>
        <div id="center-footer" class="flex flex-col">
            <h1 class="p-3 text-3xl">Siguenos en: </h1>
            <div class="flex flex-row">    
                <div id="ig" class="p-3">
                    <a href="https://www.instagram.com/extreme.bike.placilla/" target="_blank">
                        <Icon name="ig" size={40} />
                    </a>
                </div>
                <div id="x" class="p-3">
                    <a href="https://x.com/v_brejcha" target="_blank">
                        <Icon name="x" size={40} />
                    </a>
                </div>
                <div id="fb" class="p-3">
                    <a href="https://www.facebook.com/share/19km5om5Rs/?mibextid=wwXIfr" target="_blank">
                        <Icon name="fb" size={40} />
                    </a>
                </div>
                <!-- 
                <div id="tt" class="p-3">
                    <a href="#">
                        <Icon name="tt" size={40} />
                    </a>
                </div>
                -->
            </div>
            <div class="mt-20">
                <p class="font-bold text-2xl">ExtremeBike {year}</p>
            </div>
        </div>
        <div id="right-footer">
            <div id="wsp" class="mb-6">
                <a href="https://api.whatsapp.com/send?phone=56961710166">
                    <Icon name="wsp" size={40} />
                </a>
            </div>
            <div class="flex flex-col">
                <p class="p-1">Lunes a Sábado</p>
                <p class="p-1">09:00 a 18:00</p>
                <p class="p-1">Horario de atencion</p>
            </div>
        </div>
        
    </div>
</footer>