---

---

<div class="container mx-auto p-4">
<!-- Contenedor Flex con gap para espaciado -->
<div class="flex flex-wrap -m-2">
    
    <!-- Imagen 1 -->
    <div class="p-2 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
    <div class="h-full overflow-hidden rounded-lg shadow-lg">
        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="reparacion-marco-venzo.jpeg" alt="reparacion marco venzo">
    </div>
    </div>

    <!-- Imagen 2 -->
    <div class="p-2 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
    <div class="h-full overflow-hidden rounded-lg shadow-lg">
        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="revision-en-taller.jpeg" alt="revision en taller">
    </div>
    </div>

    <!-- Imagen 3 -->
    <div class="p-2 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
    <div class="h-full overflow-hidden rounded-lg shadow-lg">
        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="retiro-bicicletas.jpeg" alt="retiro bicicletas">
    </div>
    </div>

    <!-- Imagen 4 -->
    <div class="p-2 w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
    <div class="h-full overflow-hidden rounded-lg shadow-lg">
        <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="limpieza-marco-bicicleta.jpeg" alt="limpieza marco bicicleta">
    </div>
    </div>


</div>
</div>
