---
import Navigation from '../components/Navigation.astro';

---

<header class=" bg-[#742510] w-full h-full text-center p-3">
    <div class="flex flex-row justify-between max-sm:flex-col">
        <div class="max-sm:hidden">
            <img src="foto-header-test.jpg" alt="foto header" width="120" height="120">
        </div>

        <Navigation />

    </div>
</header>

