---

---

<header>
    <div class="container flex gap-3 mt-4 ml-4">
        <div class="foto">
            <img src="/foto-header-test.jpg" alt="foto-header" width="120" height="120">
        </div>
        <div class="title">
            <div>
                
            </div>
            <div class="separador">
                <img src="/separador.svg" alt="seperador">
            </div>
            <div>
                
            </div>
    </div>
</header>