---

---
<nav class="mt-2">
    <div class=" bg-white">
    <ul class="p-5 flex max-sm:flex-col justify-between mx-auto items-center">
        <li class="flex items-center p-1 text-2xl gap-x-2 text-black"> 
            <div class="bg-red-600 h-10 w-2 border-2 border-red-600"></div> 
            <a class="flex items-center" href="/">Inicio</a></li>
        <li class="flex items-center p-1 text-2xl gap-x-2 text-black">
            <div class="bg-red-600 h-10 w-2 border-2 border-red-600"></div> 
            <a class="flex items-center" href="/services">Servicios</a></li>
        <li class="flex items-center p-1 text-2xl gap-x-2 text-black">
            <div class="bg-red-600 h-10 w-2 border-2 border-red-600"></div> 
            <a class="flex items-center" href="/products">Productos</a></li>
        <li class="flex items-center p-1 text-2xl gap-x-2 text-black">
            <div class="bg-red-600 h-10 w-2 border-2 border-red-600"></div> 
            <a class="flex items-center" href="/about">Nosostros</a></li>
    </ul>
            
    </div>
</nav>