---

---

<div class="flex justify-center items-center h-20 border-s-cyan-50">
    <h1>texto referencia a pagina de inicio</h1>
</div>

<div class="carrusel mt-20">
    <div class="elememto"><img src="uno.jpeg" alt=""></div>
    <div class="elememto"><img src="dos.jpeg" alt=""></div>
    <div class="elememto"><img src="tres.jpeg" alt=""></div>
    <div class="elememto"><img src="cuatro.jpeg" alt=""></div>
    <div class="elememto"><img src="cinco.jpeg" alt=""></div>
    <div class="elememto"><img src="seis.jpeg" alt=""></div>
    <div class="elememto"><img src="siete.jpeg" alt=""></div>
</div>


<style>
	.carrusel {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        border-style: solid;
        border-color: green;
        background-color: white;
    }

    .elememto {
        flex: 1 0 auto;
        margin: 0 50px;
        background-color: red;
        width: 150px;
        height: 150px;
    }
    
</style>