---

---



<div class="carrusel mt-20">
    <div class="elememto"><img src="cassette-shimano.jpeg" alt=""></div>
    <div class="elememto"><img src="biela-shimano.jpeg" alt=""></div>
    <div class="elememto"><img src="reparacion-marco-venzo.jpeg" alt=""></div>
    <div class="elememto"><img src="neumaticos.jpeg" alt=""></div>
    <div class="elememto"><img src="retiro-bicicletas.jpeg" alt=""></div>
    <div class="elememto"><img src="limpieza-marco-bicicleta.jpeg" alt=""></div>
    <div class="elememto"><img src="cassette-bicicleta-eclipse.jpeg" alt=""></div>
    <div class="elememto"><img src="marco-venzo.jpeg" alt=""></div>
    <div class="elememto"><img src="revision-en-taller.jpeg" alt=""></div>
</div>


<style>
	.carrusel {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        border-style: solid;
        border-color: green;
        
    }

    .elememto {
        flex: 1 0 auto;
        margin: 0 10px;
        background-color: black;
        width: 170px;
        height: 170px;
        
    }
    img {
        object-fit: cover;
        border-radius: 10px;
        width: 140px;
        height: 140px;
        transition: border-radius 0.6s ease;
    }
    
    img:hover{
        transform: scale(1.1);
        border-radius: 20px;
        transition: 0.4s ease;
    }
</style>