---

---



<div class="carrusel mt-20">
    <div class="elememto"><img src="uno.jpeg" alt=""></div>
    <div class="elememto"><img src="dos.jpeg" alt=""></div>
    <div class="elememto"><img src="tres.jpeg" alt=""></div>
    <div class="elememto"><img src="cuatro.jpeg" alt=""></div>
    <div class="elememto"><img src="cinco.jpeg" alt=""></div>
    <div class="elememto"><img src="seis.jpeg" alt=""></div>
    <div class="elememto"><img src="siete.jpeg" alt=""></div>
    <div class="elememto"><img src="siete.jpeg" alt=""></div>
    <div class="elememto"><img src="siete.jpeg" alt=""></div>
    <div class="elememto"><img src="siete.jpeg" alt=""></div>
</div>


<style>
	.carrusel {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        border-style: solid;
        border-color: green;
        
    }

    .elememto {
        flex: 1 0 auto;
        margin: 0 10px;
        background-color: black;
        width: 150px;
        height: 150px;
        
    }
    img {
        object-fit: cover;
        border-radius: 10px;
        width: 150px;
        height: 150px;
    }
    
    img:hover{
        border-radius: 10px;
        transform: scale(1.2);
        
    }
</style>