---

---
<footer class=" mt-auto bg-orange-400 h-full w-full p-20">
    <div class="flex justify-between p-5">
        <div id="left-footer">
            <p class="p-3">Preguntas Frecuentes</p>
            <p class="p-3">Formas de pago</p>
            <p class="p-3">Envios</p>
            <p class="p-3">Devoluciones y reembolsos</p>
        </div>
        <div id="center-footer" class="flex flex-col">
            <h1 class="p-3 text-3xl">Siguenos en: </h1>
            <div class="flex flex-row">    
                <div id="ig" class="p-3">
                    <img src="/public/icons/ig.png" alt="ig-rrss" height="60" width="60">
                </div>
                <div id="x" class="p-3">
                    <img src="/public/icons/x.jpg" alt="x-rrss" height="60" width="60">
                </div>
                <div id="tt" class="p-3">
                    <img src="/public/icons/tt.png" alt="x-rrss" height="60" width="60">
                </div>
            </div>
        </div>
        <div>
            <div id="mail" class="p-20">
                <img src="/public/icons/email.png" alt="email" height="60" width="60">
            </div>
            <div>
                <p class="p-1">Horario de atencion</p>
                <p class="p-1">Lunes a Sábado</p>
                <p class="p-1">09:00 a 18:00</p>
            </div>
        </div>
    </div>
</footer>